# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

In [27]:
import pandas as pd
columns = ['date', 'ticker', 'open', 'high', 'low', 'close', 'volume']
df = pd.read_csv('sp500hst.txt', sep=',',names=columns)
print(df.head(10))

       date ticker   open     high     low  close  volume
0  20090821      A  25.60  25.6100  25.220  25.55   34758
1  20090824      A  25.64  25.7400  25.330  25.50   22247
2  20090825      A  25.50  25.7000  25.225  25.34   30891
3  20090826      A  25.32  25.6425  25.145  25.48   33334
4  20090827      A  25.50  25.5700  25.230  25.54   70176
5  20090828      A  25.67  26.0500  25.630  25.83   39694
6  20090831      A  25.45  25.7400  25.310  25.68   51064
7  20090901      A  25.51  26.3300  25.480  25.85   66422
8  20090902      A  25.97  25.9700  24.960  25.22   64614
9  20090903      A  25.47  25.5400  25.000  25.29   46369

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

In [28]:
print(df[['open', 'high', 'low', 'close']].mean())

open     42.595458
high     43.102243
low      42.054464
close    42.601865
dtype: float64

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

In [29]:
df['month'] = df['date'].astype(str).str[4:6].astype(int)
print(df.head())

       date ticker   open     high     low  close  volume  month
0  20090821      A  25.60  25.6100  25.220  25.55   34758      8
1  20090824      A  25.64  25.7400  25.330  25.50   22247      8
2  20090825      A  25.50  25.7000  25.225  25.34   30891      8
3  20090826      A  25.32  25.6425  25.145  25.48   33334      8
4  20090827      A  25.50  25.5700  25.230  25.54   70176      8

In [30]:
df['date'] = pd.to_datetime(df['date'], format='%Y%m%d') #форматирование в формат год-месяц-день
df['month'] = df['date'].dt.month

print(df.head())

        date ticker   open     high     low  close  volume  month
0 2009-08-21      A  25.60  25.6100  25.220  25.55   34758      8
1 2009-08-24      A  25.64  25.7400  25.330  25.50   22247      8
2 2009-08-25      A  25.50  25.7000  25.225  25.34   30891      8
3 2009-08-26      A  25.32  25.6425  25.145  25.48   33334      8
4 2009-08-27      A  25.50  25.5700  25.230  25.54   70176      8

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

In [31]:
print(df.groupby('ticker')['volume'].sum())

ticker
A        8609336
AA      81898998
AAPL    52261170
ABC      9006756
ABT     18975870
          ...
XTO     21297931
YHOO    56837171
YUM     10971538
ZION    15551119
ZMH      4938916
Name: volume, Length: 524, dtype: int64

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

In [32]:
df_2 = pd.read_csv('sp_data2.csv',sep=';', names=['ticker', 'company_name', 'value'])
# Объединение на основе тикеров
df_common = pd.merge(df, df_2, on='ticker', how='left')
# Заполнение отсутствующих названий компаний
df_common['company_name'].fillna('Unknown', inplace=True)
print(df_common)

             date ticker   open     high     low  close  volume  month  \
0      2009-08-21      A  25.60  25.6100  25.220  25.55   34758      8
1      2009-08-24      A  25.64  25.7400  25.330  25.50   22247      8
2      2009-08-25      A  25.50  25.7000  25.225  25.34   30891      8
3      2009-08-26      A  25.32  25.6425  25.145  25.48   33334      8
4      2009-08-27      A  25.50  25.5700  25.230  25.54   70176      8
...           ...    ...    ...      ...     ...    ...     ...    ...
122569 2010-08-13    ZMH  51.72  51.9000  51.380  51.44   14561      8
122570 2010-08-16    ZMH  51.13  51.4700  50.600  51.00   13489      8
122571 2010-08-17    ZMH  51.14  51.6000  50.890  51.21   20498      8
122572 2010-08-19    ZMH  51.63  51.6300  50.170  50.22   18259      8
122573 2010-08-20    ZMH  50.03  50.5500  49.480  49.82   17792      8

                company_name value
0       Agilent Technologies  0.1%
1       Agilent Technologies  0.1%
2       Agilent Technologies  0.1%
3       Agilent Technologies  0.1%
4       Agilent Technologies  0.1%
...                      ...   ...
122569               Unknown   NaN
122570               Unknown   NaN
122571               Unknown   NaN
122572               Unknown   NaN
122573               Unknown   NaN

[122574 rows x 10 columns]

C:\Users\z\AppData\Local\Temp\ipykernel_11140\3578338223.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_common['company_name'].fillna('Unknown', inplace=True)

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [35]:
import pandas as pd
recipes = pd.read_csv('recipes_sample.csv', delimiter=',', parse_dates=['submitted'])
reviews = pd.read_csv('reviews_sample.csv', delimiter=',', index_col=0, parse_dates=['date'])
reviews

,user_id,recipe_id,date,rating,review
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [36]:
for column in recipes:
    print(f'{column}: {recipes[column].dtype}')
recipes.shape

name: object
id: int64
minutes: int64
contributor_id: int64
submitted: datetime64[ns]
n_steps: float64
description: object
n_ingredients: float64

(30000, 8)

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [37]:
rows_with_missing_values = reviews.isnull().any(axis=1).sum()
str(rows_with_missing_values/reviews.shape[0]*100) + '%'

'0.013417945317926377%'

In [38]:
rows_with_missing_values = recipes.isnull().any(axis=1).sum()
str(rows_with_missing_values/recipes.shape[0]*100) + '%'

'56.846666666666664%'

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [39]:
recipes.loc[:, ['minutes', 'n_ingredients']].mean(), reviews.loc[:, ['rating']].mean()

(minutes          123.358133
 n_ingredients      9.008286
 dtype: float64,
 rating    4.410802
 dtype: float64)

1.5 Создайте серию из 10 случайных названий рецептов.

In [40]:
names = recipes.name.sample(n=10)
names, type(names)

(27615                                 tilapia corn chowder
 10990                                      filipino menudo
 17467                    mexican chili cheese dip  tex mex
 17963                            mom s best sweet iced tea
 21702    pumpkin harvest loaf with orange cream cheese ...
 26372                              sunflower seed potatoes
 29334                              whole grain mustard dip
 7125                                   citrus sesame salad
 14902                  japanese pumpkin soup  kabocha soup
 22443                 restaurant style taco meat seasoning
 Name: name, dtype: object,
 pandas.core.series.Series)

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [41]:
reviews.index = range(0, reviews.shape[0])
reviews

,user_id,recipe_id,date,rating,review
0,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
126691,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [42]:
recipes[(recipes.minutes <= 20) & (recipes.n_ingredients <=5)]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
28,quick biscuit bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0
60,peas fit for a king or queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0
...,...,...,...,...,...,...,...,...
29873,zip and steam red potatoes with butter and garlic,304922,13,724218,2008-05-27,9.0,"i haven't tried this yet, but i am going to so...",5.0
29874,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0
29905,zucchini and corn with cheese,256177,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0
29983,zucchini with serrano ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [43]:
recipes = pd.read_csv('recipes_sample.csv', delimiter=',', parse_dates=['submitted'])
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [44]:
recipes[(recipes.submitted < '2010.01.01')]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29993,zuni caf zucchini pickles,316950,2895,62264,2008-07-31,NaN,refrigerator pickles for some of the zucchini ...,8.0
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [45]:
recipes['description_length'] = recipes.description.apply(lambda x: len(str(x)))
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [46]:
recipes.name = recipes.name.apply(lambda x: ' '.join(word.capitalize() for word in x.split()))
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587
...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [47]:
recipes['name_word_count'] = recipes.name.apply(lambda x: len(x.split()))
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330,8
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255,5
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39,7
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154,3
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587,8
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484,8
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286,4
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311,5
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648,2
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125,7

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [48]:
recipes_founder_count = recipes.groupby('contributor_id').size()# .reset_index(name='recipe_count')
recipes_founder_count

contributor_id
1530            5
1533          186
1534           50
1535           40
1538            8
             ...
2001968497      2
2002059754      1
2002234079      1
2002234259      1
2002247884      1
Length: 8404, dtype: int64

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [49]:
marks = reviews.groupby('recipe_id').rating.mean()
recipes.shape[0] - pd.unique(reviews.recipe_id).shape[0]

1900

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [50]:
recipes.groupby(recipes['submitted'].dt.year).size()

submitted
1999     275
2000     104
2001     589
2002    2644
2003    2334
2004    2153
2005    3130
2006    3473
2007    4429
2008    4029
2009    2963
2010    1538
2011     922
2012     659
2013     490
2014     139
2015      42
2016      24
2017      39
2018      24
dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [51]:
merged_df = recipes.merge(reviews, left_on='id', right_on='recipe_id').loc[:, ['id', 'name', 'user_id', 'rating']]
merged_df.head()

      id                                  name  user_id  rating
0  44123  George S At The Cove Black Bean Soup   743566       5
1  44123  George S At The Cove Black Bean Soup    76503       5
2  44123  George S At The Cove Black Bean Soup    34206       5
3  67664     Healthy For Them Yogurt Popsicles   494084       5
4  67664     Healthy For Them Yogurt Popsicles   303445       5

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [ ]:
reviews['review_count'] = reviews.groupby('recipe_id').count()['review']
frames2 = reviews[['recipe_id', 'review_count']].fillna(0).join(recipes[['name']])
frames2

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [ ]:
average_rating_per_recipe = reviews.groupby('recipe_id')['rating'].mean()
min_avg_rating = average_rating_per_recipe.idxmin()
recipe_with_min_avg_rating = recipes[recipes['id'] == min_avg_rating]

recipe_with_min_avg_rating

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [ ]:
recipes_sorted = recipes.sort_values('name_word_count', ascending=False) #сортировка таблицы в порядке убывания величины name_word_count
recipes_sorted.to_csv('recipes_sorted.csv', index=False) # сохранение результатов в csv файл

In [ ]:
# Сохраняем результаты в файл Excel
with pd.ExcelWriter('results.xlsx') as writer:
    # Сохраняем результаты выполнения задачи 5.1 на лист "Рецепты с оценками"
    frames.to_excel(writer, sheet_name='Рецепты с оценками', index=False)
    
    # Сохраняем результаты выполнения задачи 5.2 на лист "Количество отзывов по рецептам"
    frames2.to_excel(writer, sheet_name='Количество отзывов по рецептам', index=False)

#### [версия 2]
* Уточнены формулировки задач 1.1, 3.3, 4.2, 5.1, 5.2, 5.3